/* Docs */

/***************************** 
Navbar images and tweaks
*****************************/

.contents-menu>ul>li.docker>a {
    background: url(../images/docker2x.png) no-repeat;
    background-size:auto 1.0em;
    background-position: 0 0;
    padding-left: 2em;
}
.contents-menu>ul>li.kubernetes>a {
    background: url(../images/kubernetes2x.png) no-repeat;
    background-size:auto 1.1em;
    background-position: 0 0;
    padding-left: 2em;
}
.contents-menu>ul>li.mesos>a {
    background: url(../images/mesos2x.png) no-repeat;
    background-size:auto 1.1em;
    background-position: 0 0;
    padding-left: 2em;
}
.contents-menu>ul>li.other>a {
    background: url(../images/icon-question2x.png) no-repeat;
    background-size:auto 1em;
    background-position: 0.5em 0;
    padding-left: 2em;
}

.page ul.navbar-prelude {
    margin-bottom: 0;
}

/*****************************
Pods
*****************************/

.pods-eq,
.pods-solo {
    overflow: hidden;
}

.pod-boxout {
	border: 1px solid #cccccc;
	padding: 1em;
	text-align: center;
    margin-bottom: 16px;
    position: relative;
}

.pod-boxout--recommended {
	border-color: #00a99d;
}

.pod-boxout--minor {
	display: block;
	overflow: hidden;
	background-color: #eee;
}

.pod-boxout img {
	max-width: 90%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 12px;
}

.pod-boxout .button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	width: auto;
}

.pod-boxout .button--fast {
	background-color: #00a99d;
}

.pod-boxout .button--manual {
	background-color: #333333;
}

.pod-boxout span {
	height: 70px;
	margin-bottom: 16px;
	display: block;
	font-family: "Soho Gothic W01 Regular";
} 

.pod-boxout span em {
	margin-top: 6px;
	display: block;
	color: #00a99d;
	font-style: normal;
} 

.pod-boxout--minor span,
.pod-boxout--short span {
	height: auto;
	margin-top: 10px;
	margin-bottom: 0;
}


.pod-boxout--tutorial {
	background-color: #eee;
}

.pod-boxout--solo span,
.pod-boxout--tutorial span {
	height: auto;
	margin-bottom: 16px;
}

.pod-boxout--minor .button {
	background-color: #333;
}

.pod-boxout--minor img {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 4px;
}

.pod-boxout.pod-boxout--2up img {
	max-width: 66%;
}

@media screen and (min-width: 450px) {
	.pod-boxout--minor span {
		width: 75%;
		float: left;
		display: inline-block;
		text-align: left;
	}
	.pod-boxout--minor .button {
		float: right;
		width: 140px;
		margin-top: 0;
	}
}

@media screen and (min-width: 530px) {
	.pod-eq {
		display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.pod-boxout {
		float: left;
		display: inline-block;
		width: 32%;
		margin-right: 2%;
	}
	.pod-boxout--2up {
		width: 48%;
		padding: 1.5em;
	}
	.pod-boxout--4up {
		width: 24%;
		margin-right: 1%;
	}
	.pod-boxout--solo,
	.pod-boxout--tutorial {
		padding: 1.5em;
	}
	.pods-solo .pod-boxout {
		float: none;
		width: 100%;	
	}
	.pod-boxout:last-child {
		margin-right: 0;
	}
	.pod-boxout--2up:nth-child(odd) {
		clear: left;
	}
	.pod-boxout--4up:nth-child(4n+1) {
		clear: left;
	}
	.pod-boxout--minor {
		width: 100%;
		display: block;
		margin-left: 0;
	}
}


/*****************************
I've got the key (I've got the secret)
*****************************/

.icon-key {
	list-style: none;
	padding: 1.4em 2em;
	border: 1px solid #cccccc;
	margin-top: 12px;
}

.icon-key li {
	position: relative;
	overflow: hidden;
	margin-bottom: 12px;
}

.icon-key li:last-child {
	margin-bottom: 0;
}

.icon-key__ico {
	position: relative;
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 12px;
	margin-top: -1px;
}

img.icon-key-assign {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-right: 6px;
	margin-top: 22px;
	position: absolute;
	top: 10px;
	left: 10px;
	margin-top: 0;
	margin-bottom: 0;
	z-index: 5;
}



/***************************** 
Steps
*****************************/

.step-stages {
	overflow: hidden;
	margin-top: 24px;
	padding-bottom: 12px;
}

.step-stages + .step-stages {
	padding-top: 15px;
	border-top: 1px solid #ccc;
}

html > body h2.step-stages__heading {
	text-align: center;
	font-family: "Soho Gothic W01 Regular";
	font-size: 42px;
	margin-bottom: 24px;
	padding-left: 0.5em;
	padding-right: 0.5em;
	&:after {
		content: "";
		width: 30px;
		height: 3px;
		background-color: #333;
		margin-top: 8px;
		display: block;
		margin-left: auto;
		margin-left: auto;
	}
}

.step-stages__excerpt {
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
	text-align: center;
	margin-bottom: 32px;
}

.step-stages__excerpt .button {
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	max-width: 200px;
}

.step-stages__step {
	margin-bottom: 24px;
}

.step-stages__step img {
	max-width: 100%;
	display: block;
	height: auto;
	margin-bottom: 8px;
	border: 1px solid #eee;
}

.step-stages__step span {
	font-family: "Soho Gothic W01 Regular";
	display: block;
	margin-bottom: 8px;
	font-size: 14px;
}
.step-stages__step span strong {
    font-weight: 900;
}

.step-stages__step span>ul>li {
	font-family: "Soho Gothic W01 Regular";
    color: black;
}

.step-stages__step p {
	font-size: 12px;
}

@media screen and (min-width: 600px) and (max-width: 768px) {
	.step-stages__step {
		float: left;
		display: inline-block;
		width: 32%;
		margin-left: 2%;
	}
	.step-stages__step.first {
		margin-left: 0;
	}
}

@media screen and (min-width: 980px) {
	.step-stages__step {
		float: left;
		display: inline-block;
		width: 32%;
		margin-left: 2%;
	}
	.step-stages__step.first {
		margin-left: 0;
	}
}


/***************************** 
Legacy
*****************************/


.wide-box {
    border:1px solid black;
    width:45%;
    height:10em;
    float:left;
    margin:0.5em;
    padding:0.5em;
}

.recommended {
    background-color: #F2DE72;
}

.harder {

}

.big-box {
    border:1px solid #777;
    width:11em;
    height:11em;
    float:left;
    margin:0.5em;
    padding:0.5em;
    margin-top:20px; margin-bottom:20px;
    text-align:center;
	font-family: "Soho Gothic W01 Regular";
}

.small-box {
    border:1px solid #777;
    width:7em;
    height:7em;
    float:left;
    margin:0.5em;
    padding:0.5em;
    text-align:center;
	font-family: "Soho Gothic W01 Regular";
}

.orchestration {
    border-color: #80B164;
}

.storage {
    border-color: #D69A00;
}

.admonition.labs {
    background: url(../images/icon-labs2x.png) no-repeat #BCED91;
    background-size:30px; background-position: 30px 20px;
    padding-right:20px;
}

.admonition.labs p {
    padding-bottom:1em;
}

/* Nav Style from website */

nav {
    font-size: 17px;
}

nav ul {
    padding:0;
    margin:0;
    font-family: lato;
    min-height: 40px;
    padding-top: 0px;
}

nav li {
    display: block;
    width: 100%;
    height: 40px;
    padding: 0 16px 0 0;
    font-size: 17px;
}

nav a {
    color: #fff;
    padding-bottom: 4px;
}

nav a:hover, nav a:focus, nav a.active {
    border-bottom: 1px solid white;
    text-decoration: none;
    color: #fff;
}

ul.menu li:last-of-type {
    padding: 0;
}

nav li.current-menu-item a {
    border-bottom: 1px solid white;
}

li.button.menu a {
    font-family: lato;
    border: 1px solid #ffffff;
    background-color: transparent;
    display: inline-block;
    text-align: center;
    line-height: 38px;
    font-size: 1.125em;
    margin-top: -6px;
    border-radius: 8px;
    float:right;
    position:relative;
    padding: 0 15px 0px 15px;
}

li.button.menu a:hover {
    color: #a2dad7; 
    border: 1px solid #a2dad7;
}

/* End of Nav styles */

.menubar {
    background: #1e2021; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMWUyMDIxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM0M2EzZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(-45deg, #1e2021 0%, #343a3d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#1e2021), color-stop(100%,#343a3d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg, #1e2021 0%,#343a3d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg, #1e2021 0%,#343a3d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg, #1e2021 0%,#343a3d 100%); /* IE10+ */
    background: linear-gradient(135deg, #1e2021 0%,#343a3d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e2021', endColorstr='#343a3d',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
}

.menubar .logo {
    padding-top: 25px;
}

h1, h2, h3, h4, h5 {
    font-family:'Soho Gothic W01 Medium';
    margin-bottom: 1em;
    /*padding-bottom: 25px;
    padding-top: 25px;
    */
}

.page h1 {
	font-size: 36px;
	margin-bottom: 0.525em;
	font-family:'Soho Gothic W01 Regular';
}

.page h2 {
	font-size: 20px;
	margin-top: 1.2em;
}

.page h3 {
	font-size: 16px;
	margin-top: 1.2em;
}

.page h4, .page h5, .page h6 {
	font-size: 14px;
	margin-top: 1.8em;
}

a.headerlink {
    visibility: hidden;
}

h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink {
    visibility: visible;
}

.contents-menu {
}

.contents-menu>ul {
    list-style: none;
    padding: 0;
    font-size: 1.1em;
    font-family: lato;
    color: #FFFFFF;
    width: 100%;
}

.contents-menu>ul a {
    text-decoration: none;
    color: #999;
}

.contents-menu>ul a:hover {
    color: #bbb;
}

.contents-menu>ul li{
    list-style: none;
}

.contents-menu>ul>li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.contents-menu>ul>li:first-child {
    border-top: none;
}

.contents-menu>ul>li>ul>li {
    font-size: 0.8em;
}

.contents-menu>ul  ul>li:first-child {
    padding-top: 10px;
}

.contents-menu>ul  ul>li {
    padding-top: 10px;
}

.contents-menu>ul .current>a {
    color: #444;
}

.contents-menu>ul ul:not(.current){
    display: none;
}

.contents-menu>ul li.current ul{
    display: block;
}

.mob-contents {
    font-size: 2em;
    font-family: lato;
    padding: 20px 10px 20px 0px;
    margin-bottom: 15px;
    background-color: #eee;
    margin-left: -15px;
    margin-right: -15px;
    padding-right: 25px;
    color: #eee;
}

.mob-contents .plus a {
    text-decoration: none;
    background-color: #a3a4b2;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    display: block;
    line-height: 37px;
    font-size: 0.9em;
    color: #000000;
    text-align: center;
}

#disqus_thread {
    margin-top: 50px;
    max-width: 100%;
}

.footer {
    margin-top: 40px;
    padding-top:20px;
    padding-bottom: 20px;
    background:#e5e6eb;
    font-family: lato;
    font-weight: 600;
    line-height: 47px;
}

a.button, input.button {
    font-family: "Soho Gothic W01 Medium";
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    background-color: #f15c30;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    border: 0;
}

a.button:hover, input.button:hover {
    background-color: #343a3d;
}

.button--disabled {
	background-color: #444;
	cursor: not-allowed;
	font-family: "Soho Gothic W01 Medium";
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    background-color: #777;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    border: 0;
    cursor: not-allowed;
}

a.button.rel {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    /* Hide prev/next buttons: they are more often wrong */
    display: none;
}

/* Search bar */
.search input {
    width: 100%;
    padding: 7px 7px 7px 10px;
    border: 1px solid #c8c9d4;
    border-radius: 4px;
    height: 45px;
    background: url(../images/search-icon@2x.png) no-repeat;
    background-size: 23px 22px;
    background-position: 99% 50%;
}

.search {
    padding-bottom: 20px;
}

/* Sphinx stuff */
.highlight {
    background-color: #343a3d;
    color: #ffffff;
    padding: 20px 20px 15px 20px;
    margin-bottom: 20px;
}

.highlight>pre {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1em;
}

.highlight>pre>.gp {
    color: #a2dad7;
}

p {
    color: #646570;
    font-family: lato;
}

.admonition {
    padding-top: 15px;
    background: url(../images/exclamation@2x.png) no-repeat #fff098;
    background-size: 32px 32px;
    background-position: 30px 20px;
    padding-left: 90px;
    min-height: 75px;
}

.admonition p {
    color: #000000;
}

.admonition.warning {
    background: url(../images/warning@2x.png) no-repeat #f99696;
    background-size: 32px 32px;
    background-position: 30px 20px;
}

.admonition-title {
    display: none;
}

.admonition p.last {
    padding-right: 15px;
    padding-bottom: 15px;
}

a.download {
    color: #f15c30;
    font-family: lato;
}

a.download:before {
    content: "";
    display: block;
    background: url(../images/download@2x.png) no-repeat;
    background-size: 15px 11px;
    background-position-y: 5px;
    width: 15px;
    height: 16px;
    float: left;
    margin: 0 6px 0 0;
}

.page img {
    max-width: 100%;
}

.page ul, .page ol, page p {
    color: #646570;
    font-family: lato;
    margin-bottom: 10px;
}

.toctree-l1 ul, .toctree-l1 ol {
    margin-bottom: 0;
}

.page>.section {
    font-size: 1.05em;
}

.section .highlighted   {
    background-color: red;
    color: white;
}

.mob-nav {
    height:97px;
    padding: 25px;
}

/* Feedback form */
.feedback-form form>textarea,input {
    margin-top:10px;
}

.feedback-form {
    font-family: lato;
}


@media all and (min-width: 768px) {
    /* sm */
    body {
    }
    
    .menubar {
        height: 150px;
    }
    
    .contents-menu>ul{
        display: block;
    }
    
    .contents-menu>ul ul {
        padding-left:15px; /* Don't waste horizontal space on low res */
    }
    
    .page {
        padding-top: 40px;
    }
    
    .contents-menu>ul {
        width: 83%;
    }
    
    a.button.rel {
        width: 100px;
    }
    
    nav li {
        display: inline;
        height: auto;
        font-size: 14.45px;
    }
    
    nav ul {
        padding-top: 40px;
    }
    
    .highlight {
        overflow-x: auto;
    }

    .highlight pre {
        word-wrap: normal;
        display: inline;
        padding-left: 0;
    }

    ul.menu li:last-of-type a {
        background-color: #3d7c77;
        border: 1px solid #fff;
        padding: 8px 15px;
        display: inline-block;
        margin-top: -8px;
        border-radius: 6px;
        float: right;
        text-transform: uppercase;
        font-size: 12px;

        position: absolute;
        top: -30px;
        right: 15px;
    }

    ul.menu li:last-of-type a:hover {
        color: #fff;
        background-color: #f15c30;
    }
}
@media all and (min-width: 992px) {
    /* md */
    body {
    }
    
    .menubar {
        height: 97px;
    }
    
    .contents-menu>ul ul {
    }

    .menu ul.menu {
        padding-left: 0%;
    }

    ul.menu li:last-of-type a {
        position: relative;
        top: 4px;
        right: 0;
    }

}
@media all and (min-width: 1200px) {
    /* lg */
    body {
    }

    .menu ul.menu li {
        padding-left: 8px;
    }

    .menu ul.menu {
        padding-left: 8%;
    }
}

@media (max-width: 992px) and (min-width: 768px){
    .menu ul.menu {
         text-align: center;
         border-top: 1px solid #fff;
         border-bottom: 1px solid #fff;
         margin-top: 16px;
         padding-top: 8px;
         padding-bottom: 11px;
         padding-left: 0;
    }

    ul.menu li {
        padding: 0 15px;
    }
}
