# -*- mode: ruby -*-
# vi: set ft=ruby :

# This requires Vagrant 1.6.2 or newer (earlier versions can't reliably
# configure the Fedora 20 network stack).
Vagrant.require_version ">= 1.6.2"

# Vagrantfile API/syntax version. Don't touch unless you know what you're doing!
VAGRANTFILE_API_VERSION = "2"

ENV['VAGRANT_DEFAULT_PROVIDER'] = 'virtualbox'

# To keep tutorial users from having to download several files, we will include
# raw dumps of the node-side certificates here.

clustercrt = <<EOL
-----BEGIN CERTIFICATE-----
MIIFgTCCA2kCEF50rpYGQCE5AwO896gucvEwDQYJKoZIhvcNAQELBQAwSTEtMCsG
A1UECxMkOGY1NTNhYTgtNjkyNy00NDFkLWI2OTAtOGM0NTM4NTZkYTg2MRgwFgYD
VQQDEw90dXRvcmlhbGNsdXN0ZXIwIhgPMjAxNTA1MjkxMDE0MDVaGA8yMDM1MDUy
NDEwMTQwNVowSTEtMCsGA1UECxMkOGY1NTNhYTgtNjkyNy00NDFkLWI2OTAtOGM0
NTM4NTZkYTg2MRgwFgYDVQQDEw90dXRvcmlhbGNsdXN0ZXIwggIiMA0GCSqGSIb3
DQEBAQUAA4ICDwAwggIKAoICAQDZJYRHd5izMNurvMlDorBxfCORvyQnxMoKyx0a
rHkLtlZ/etfrMq9UdeFeCqhlZy1hidpwBEC7cEQE+GXWRWlp7kSBqzpAdLZK2a6r
pIjXGM+f6qI48uu28F6RJ200G2jkUduDRwzGEoaH8Yw/Kw13GJQBG79LD8mT53PU
OfnPu2NP/EEc5e7y87MjaC3rQ3u/aO+m7N154l0lVobpFunkUdDfokuRVfDB8Pob
ZL8cZ59E4Fe9o4oQfYqrtYL39Y6BlHhJLV90HsdQi2zeQ7dzX0JFv2pMyEGJedO5
VD6gVI2flgTTlMYTP9ATyuWxLO8MTCYo0phQj/Rtudqte05ea1ygrBYQNkhrUdWY
tuUrDFXooI58Cb/Une7zX72w+vdyxMB9L8jRAbrTEAfQsaMFUSnFvEIEZoZ19hg1
KoSuPLsQQd+XxbYfkU5j3SG8OJ5kgQ6QAVUfnTeNS8uio6qhG1jOafoqVb0AqXR8
qtRl3IaNqx03xYyEMkJBFHKyA6UwrjI/5BkgEAKUwrMA18mkiPAFZiWgQFpGyxW4
isAnIls3qmdEZwyxnfv81f4B9Imo+5m3Su+zxG/2PhzHtvjplZg942X+dTfNH/uA
+03vI/+UI/bQ5JAKMYnwJ9nZfqtWE4YZJsVqUOKPgdq1xIeiASJXaDUd7hLh67ev
WanZ+wIDAQABo2YwZDASBgNVHRMBAf8ECDAGAQH/AgEAMA4GA1UdDwEB/wQEAwIB
BjAdBgNVHQ4EFgQUxQ7TcXTH5FJG1KYG2HtnDGGkIgQwHwYDVR0jBBgwFoAUxQ7T
cXTH5FJG1KYG2HtnDGGkIgQwDQYJKoZIhvcNAQELBQADggIBAGkYNCVLfqdYvQET
+TKiG3w2BJZ0T/lkwZLAvjbepd7qBVseCr448LEANACAKuobocfTQWy0P8OicEQv
bn94QYSz9ZXByTZg7dKR4PurnSIfDCO8OXnUcDxYl1PWP+pqYsiRHsGG3PjGR2kv
w8e0N8SEW9ZvND5OQSvPEnCVO+WZJEDgPC4apLZ3YkklLtqrCGI7nfc/VWiwr+aj
fRB1wxxhYPsbOuMyNyGc8g3bdnbV6Ut4R3mhz0DlIxe8hEzSdJNmnt1CwfMzNU7E
9GXSF0K8iKDpPQrdqatIBTDF+QShCGUjcgCo9fqrgFGbGPMAz0Pi58XM7PZkdjDH
5hKMY1q5lc5QL0b3O1+2OdMmvWaZkFI5f/8kEgZDlq2H0+krVYzD2xCUcBJBeH7t
rthoJU4Ggxu79rJv0brobitAD/W14RdsFV0Dp5wVU9XYeFivKj8iWdGemePRrexd
F4+rb91QlZwE61Xyv5ShnOfGaT05wwNh1aspPOcrg3LFWLR8m3ImbyGhy0DZqBFz
Qz/BxSmRBaady7ldKEkL+QZ7cMGwiVZX5Jh8pLngkpooGKcKll9eLyHzYMREaKiC
VAf62fKF/xDFOWVyI7LCK/V7+4LZhgJKi2lUFANjXGeop4AWQNrc+ZLwyjdfiuEh
vVtxa/QfTaUXyRiEQ+6MtusgVM9J
-----END CERTIFICATE-----
EOL
controlcrt = <<EOL
-----BEGIN CERTIFICATE-----
MIIFPzCCAycCEG+rlpLLzlRNaL70gTbD3BYwDQYJKoZIhvcNAQELBQAwSTEtMCsG
A1UECxMkOGY1NTNhYTgtNjkyNy00NDFkLWI2OTAtOGM0NTM4NTZkYTg2MRgwFgYD
VQQDEw90dXRvcmlhbGNsdXN0ZXIwIhgPMjAxNTA1MjkxMDE0MDZaGA8yMDM1MDUy
NDEwMTQwNlowSTEtMCsGA1UECxMkOGY1NTNhYTgtNjkyNy00NDFkLWI2OTAtOGM0
NTM4NTZkYTg2MRgwFgYDVQQDEw9jb250cm9sLXNlcnZpY2UwggIiMA0GCSqGSIb3
DQEBAQUAA4ICDwAwggIKAoICAQC14vdzRRaj2/yCILXC3QwGXZHJ7ba1dUSArG1o
XwxrUO1EpaXzS/t359+8ABAdCUQr7KmlvLWQjNAkIwi/XWjVn1yXujsnLPJiEvU8
IB8PwcC+hMTb+uQewHPQ1qL9K0fMkjMhkkGQrrA8oBHmcuMhv5h131nGmTM2cukk
a1E74X1umW9eBMPe0N7Ac/BAowHt8ORE9lt5CwCHnqY3I6GhldApu+N0v2L3pDrC
gNsQaktesGEfe6Oo7YErZ9zxMGuwJ0BzYNbg3kgturKiaoz2+LWVMm/oFNncqCqo
BpCIqytb9TcPQgKhJZYfhXxinA5Z9veD4Sku/6m6fkOsE3sdHXGgoSro98TZeD3G
Jz/a92jgMcoJAMBnv949CvicDFNIGJNplobfsql6rVjLo/n6ZRZtcWmlJf8rvpaa
wEDzuMmNzAwuV+kzH3GbruEAgRgbdLsm7Gt14V5cLaNwYWkCfZIIK+2/vY/NED9w
L6CnA3d+PHyokZyTQ+dnomab+Rbm7FX2iU5mc0UN6iuqlR7zG63gpirOZKBevnNM
iR7wHqPnC+ImwQTyNV1ps2dTFqo4A574RUPXzJ4D2Ty5CfyrV5GNWhsZWeuFp+Nz
Bt5vagO0CUj4CCXVCYO2H6BEgbhpRKcONgkbsWryNkQ4z9wMaE+nVdaoQTzcKJPc
6ASXawIDAQABoyQwIjAgBgNVHREEGTAXgg9jb250cm9sLXNlcnZpY2WHBKwQ//ow
DQYJKoZIhvcNAQELBQADggIBAGJ0ZBNDrKhVeAO9B8GRiUyftrc+SYfeUGFI2AKc
EdaLkxrUzFpZR6DZm8SVJqnEPiCkvJ9D8Ev1pEaJKFSu8t7fNPnWDqb/xPE3pWiX
4uUuEOeARCtAwVHrGnsVROeRZSnCL8f2cfk7Dt2EJy+Y5g+dS6oNZMs3onSWR/1M
OtWfMyiTRcU9S983bpQ6vfosBdM0pBW5B8vvJTrZ1Q5w5IMhEMgGned6ydM3NaNS
GBC1WJjqwhcsJC8ZGAiwN7mErKUNixQVMKrBqU2/jSgbyWQSOucUcU00O29wASJG
dTBsiLr0Jn3YOIxYIvvOJGqU/b0NuN4Zj39/2UisNF+a3lBA80MnGi3UjIvznB7q
LdJ/9Waf/5mvLtP6eOljgI9//VAGVY9m293oZK7St5X6XtdmeGYekj8DP+ulKN2x
4DisiY1t4iJgcZPKFzGJtCB82sX0hkD5Kkxz3PQd7Xc0jKzhH9ScVMO9SWhdnobi
jFlLbdPrfdJyEs5g+tXAtATJx4CcgsoEPpMKERg4BMFphZX221WWdi/ekOr89wlo
f1Lw1mdd1/awz+OYRZjG82NDVz1B0lOWfb4d3FXPDNSPhO2FZygtVMXhY2Z2qU9s
X6qxnrt03YNz9fNi8JbCOq4d2i8rdMSuMLuB1BHpnz6DhRz3yuDm2H0C3PvGCCP/
YvN3
-----END CERTIFICATE-----
EOL
controlkey = <<EOL
-----BEGIN PRIVATE KEY-----
MIIJQQIBADANBgkqhkiG9w0BAQEFAASCCSswggknAgEAAoICAQC14vdzRRaj2/yC
ILXC3QwGXZHJ7ba1dUSArG1oXwxrUO1EpaXzS/t359+8ABAdCUQr7KmlvLWQjNAk
Iwi/XWjVn1yXujsnLPJiEvU8IB8PwcC+hMTb+uQewHPQ1qL9K0fMkjMhkkGQrrA8
oBHmcuMhv5h131nGmTM2cukka1E74X1umW9eBMPe0N7Ac/BAowHt8ORE9lt5CwCH
nqY3I6GhldApu+N0v2L3pDrCgNsQaktesGEfe6Oo7YErZ9zxMGuwJ0BzYNbg3kgt
urKiaoz2+LWVMm/oFNncqCqoBpCIqytb9TcPQgKhJZYfhXxinA5Z9veD4Sku/6m6
fkOsE3sdHXGgoSro98TZeD3GJz/a92jgMcoJAMBnv949CvicDFNIGJNplobfsql6
rVjLo/n6ZRZtcWmlJf8rvpaawEDzuMmNzAwuV+kzH3GbruEAgRgbdLsm7Gt14V5c
LaNwYWkCfZIIK+2/vY/NED9wL6CnA3d+PHyokZyTQ+dnomab+Rbm7FX2iU5mc0UN
6iuqlR7zG63gpirOZKBevnNMiR7wHqPnC+ImwQTyNV1ps2dTFqo4A574RUPXzJ4D
2Ty5CfyrV5GNWhsZWeuFp+NzBt5vagO0CUj4CCXVCYO2H6BEgbhpRKcONgkbsWry
NkQ4z9wMaE+nVdaoQTzcKJPc6ASXawIDAQABAoICAFjL7JiG4y2uCVGSHIp8lhFJ
fxJBDlD6Zi4Xf/ZTaOG/iYZZBHKJ5sO8HPtQYI18Z562FICIZ2+hf0AVJoEeXj7k
ZTThw1010UNWFAl9eQydP7cDZIQssU/eDuymzL2icpQJ0BKUr5Ot5PZEA1kpP3/L
ZOgu2UpeoqTzZqTUC72bMTxchgU1eFaATC9Sqrkzm46JazfLug6W83RCXM1QhOk5
FX46byohAXT65YDtnYUfD5qzq0bOerDO+p+xPik1xW0jTJDHd0Ai5MQGgI1QTW+J
LkUfcYixHUdfhiuvwMIoJqvnRDEbveLkUa0j4vzVSSBctKvasdtzD26vk+QfQpu5
1tdoZlhOT4+pXtsXotfmEvVzlWwTfdvKkdTqAiG571yP6qexPndXRCMAiWakakQS
PvShDi2PHfqGbEFqZpQScrVX0x0gkWwuP5p9XwX1U/DKQMnEUSiHk7jMqOEpVet4
9zTI/S5GHYRYa1CiK2jXfOMgFOFavlS3mt12/NvOuBBgqEHYMoy7JwA1F/X804pk
RqI7fJafZR1KCD5NpD0xkcVNZ2NWAHv5E/XViubZbP+Kld8LIQIw32EpGE42CUcF
6JrqH1Llvlln/s82H6250cOswdqZ9tqLKtk4dPEtBE2XuDhZZs7geCTUr36kPcc3
+WFk1+N8QGFHPxVgcq5pAoIBAQDppRiRnZb3A9fXfGTy59Yea+HPeLOLqFQDe79m
u5UiyF9o6Tq+pGB0Dp2eNw8X36vh+U7IRlOQmB9EQ6kjoLyoYAk2VkABkmtpMtiz
bGBElQdGpy47TvCYTe3KCh/XZWxPjbvwy0+hHFvZUeWe++KJUPuLWSsqTc6xkbzv
4G+JXQNEmlgLhYNB50h/qk/CQpCVAprJJ6YcViifc9mDA0IC+530Qe8iMJsSxKCI
9VENY7ohd+vQ5j2Zu7s2B0Agfd20Pq7O2mZlfy4tpxYdYYOmZu9zU6oAHj8E5TgU
XF8wQUaGblsAc0/Kosgw4/4n9QE6dfgl4k3cvJS6Wf7aPU4FAoIBAQDHShnjvTnl
3uxaaYnMgxn0oC7X4Y8fg2EtMocFMnm4wBLBKWn7OZobXRVuNyV8Mm8/yn/2vFJZ
b9ZEIh8X+y1yRvhd27imw136XpnItSEeIdCPVB4IZ9h8CcNeBksGR+D7/tviRd2I
q2Y4qrjvttF2yLkTokxVu0DMrt9GViz74IbLgFua8jTdLeWUjvryRw5ISHgqjctM
y/RHEmTCMG29UJ3pglWtkbbTWlxaT5l1D7kzM6+DFFs4zN9D6QaisDfw7D0a23WF
SKvCiIqLMbHEXlqtU11Y4vnp2g7+AX8QBPHrU3ay6lwGmkpjLhERRo8U6eRUcB0i
RpwaUGTYvNqvAoIBAGf43BIQutl5kFeIN7QQjyxCfd5BrER9x8U1EFu7JgawfCTH
hSjJJVMAHgwGHGVXV7nbo79j7FPwHhnWsjH0mX+kHPVdNGZ+reXGhsBxffWHDBHY
263w1wgvxZ2fG8RSkfxk6jmhf/IGGKmA1FoHZSwOKaI9MARHU6+ZVya4DWpnRckF
liCqbVqqfYyyUYP08zocSp0xU65QeQtcFnNCw+Fn70Z/ANeKIbgcYAQShtsagf3a
y8nOa6M583l7iIHtAPfw3QGYFvEbw4T1UdYJSviF3hDILmKXExwulOIaqRFkOuof
ucddiSh3f/ahvrwxPzawwJi7OEL+eIDlA5BCr7ECggEAQzQFzvp8j7vA0CxOv5xm
IEvz//CcJvBS0L79MQ94ZIjAykqA5qriAOA+3c/S4DLRuR08UaPn0SkZhBhNi/Sz
upmcH2p8th+jjU5hZYFPDa4xemPPTN5X7lwMeaR9oDyU7eVfmMoejnveGLXZb1yi
/f9qCejs/OwMSfmeaUWeHcH1MqKyQWnz0bIsfRBKJ3E2q8FkZFU0fU05rs3RFHro
RrLszVWaNtGwaU1LX1kAUq1espl3UiiHKnxLvcbS6gGqm5/Oa0QeOTfsU8lfjtjP
LXzz7wbxr4u64tUZwSYYBvrj6YtXt7W4GrHk69UZBE5a6Z6F1MOJz4koEueRWlU1
GQKCAQBk76btbyoVdE8FMzUv9q/3maUo7oVpPnvD16oZpWJgNKUwzfT0EPY7tWTg
/wCOgikxFOWmN8zKIow9BvuSC/ZCd4R4BhMhINFWclbOzAj8khpq3F7HjQd1kKnK
TvAL7KL2HJmCEUcUkbwMt/wC84gUeabUx5KFq/jTS2jHoDK6H9Ojboe57LZNTPqE
VstoI3byRq6TtFLKiJlCKD8+CP9dDDgFFmOCVp32qX5yDKO/3UV6aKsqbd3iiahE
zUBT+1DiMNi//IlY+aqeaBeQITh5p5K54wMTOTN44bONJhauzopWuLS79moBzExb
wsJJ8pucOVxY3+OOTyjLCaiWy06t
-----END PRIVATE KEY-----
EOL
node1crt = <<EOL
-----BEGIN CERTIFICATE-----
MIIFNDCCAxwCEQCzQRXbb+IY8syQOts0UHMNMA0GCSqGSIb3DQEBCwUAMEkxLTAr
BgNVBAsTJDhmNTUzYWE4LTY5MjctNDQxZC1iNjkwLThjNDUzODU2ZGE4NjEYMBYG
A1UEAxMPdHV0b3JpYWxjbHVzdGVyMCIYDzIwMTUwNTI5MTAxNDA3WhgPMjAzNTA1
MjQxMDE0MDdaMGMxLTArBgNVBAsTJDhmNTUzYWE4LTY5MjctNDQxZC1iNjkwLThj
NDUzODU2ZGE4NjEyMDAGA1UEAxMpbm9kZS01M2I4MWZhNy0wOTkyLTQ5MmEtYjJi
Ny1mZTZkMDczZWQ0MWMwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDc
Rk1Y2mXtiKFLsvDbMh/fu1G553knV6atMlQ0L7rLpAKEf4RYCwOHmell2DhW2XgX
bFNKlQdjRIUo09me/8AjUdWrrtp1BDphP/ptVlVZW4tUom5NTe5qKrwqViLxjw07
J1nnhfyG+XF77f+QUWJy/j8iQmpH3U7CWnU7LgOMjLmiBwyRwN/xn4JE35Jz2yCm
4RN4j4BIT9BmWtA8FFMNM6mlsDEhWoK+4EdgKA/u6xIcg+wV4i/PrEEvR3f4pe9S
QW+eyG2xc3HxPllSwvlDFuBkA4v7jY6U7XSHpy/6c343pDgD56hi0IV6Faq6XYpd
eEQLptpm1pwma4IIJWqChP/ntTFRkCAjbA0E9H/0BtrWmsBgBQaHT7kFjInQH0vF
nnK9kk09xzlhOr1jyVSBRWoYkoc3nzQQ7TJZe16KgEGRM66mn7mhknkuiRZrVk6k
0AIFHv83NJPay0pMP8hxBQ8fKeDwuNo5MbPzy5NMkx1m6LhSQJTNPhTPo0fBYxSX
W2A279lF1Tm6IiE6IRVSGT91zbVPUqFbFGjkUiAgDCk21mQH/p2sN/cMgMcEL3X3
/iXz5GLe7kGnMq/uJsiKJiKlcA8vdU57hDXjstvScGu+V1/CCkO2HxQVfAjLKM81
H1GyvqeySEGJaID8K6BsfHkcz1CPYCQil05+fsPSpwIDAQABMA0GCSqGSIb3DQEB
CwUAA4ICAQCSavex9yHBXXN2FL8d5wPww1I48TTPgCxi0gyKt8Q2T1qw++XB8dD8
PK3qEjoUZgLgdYgpX6egntlSv60vcWm1FGmhiwF0iKPT35jjZOT5A7i/w2SWcMpX
ooCqtHf8K8VIe8YMCKzszk/ZuRd9TAjkEvxgG+lfnxMI8NWTTniV4RWZljiVD0x4
0UWMEW9LEsfYAtXwaeDuFwZEEtMgRuULA7xqbvuQ/nrDHl5kDsfL+BvL6FmKMOWP
8EGLtLCggcmwclww8H4Uo68yQhKj7LZofdD521xbepvy5gBouAR7eNvzMPH4wM0p
UlseAGmoYM41Pk6UwiO+fd0nAEcsRyXQRovZxp5U/q/H86dUm0N6oLM4DWz8gl/B
6UXZr7XMwORZSZTdDeatbMh2kC83AzuGMDRcIKRvU71Ta9pFXysyEFcdxG4phCuz
AL8NRWaco9hftPbzteUu9EDXbTgbyhI6ycYKv6t6RMrunrTa7OqA//+1tGAg5uhA
Ucixv8VrM6T0dS+UNGHDfedbrrIqwwp+AA9CncUzS1RY3NMQu8BkEtTkm8XOzDKx
3r1SPOk8J4dmffrwT1i2uk72CwkZFxEBEYA9ISoVfEfS+CWezBBQiCLbzjsVDIBw
4Lg8XtdcvO2zVZZl+FOc8VJ9QCMobRZPNRtNxbtoe235P0PVmJ3TIQ==
-----END CERTIFICATE-----
EOL
node1key = <<EOL
-----BEGIN PRIVATE KEY-----
MIIJQgIBADANBgkqhkiG9w0BAQEFAASCCSwwggkoAgEAAoICAQDcRk1Y2mXtiKFL
svDbMh/fu1G553knV6atMlQ0L7rLpAKEf4RYCwOHmell2DhW2XgXbFNKlQdjRIUo
09me/8AjUdWrrtp1BDphP/ptVlVZW4tUom5NTe5qKrwqViLxjw07J1nnhfyG+XF7
7f+QUWJy/j8iQmpH3U7CWnU7LgOMjLmiBwyRwN/xn4JE35Jz2yCm4RN4j4BIT9Bm
WtA8FFMNM6mlsDEhWoK+4EdgKA/u6xIcg+wV4i/PrEEvR3f4pe9SQW+eyG2xc3Hx
PllSwvlDFuBkA4v7jY6U7XSHpy/6c343pDgD56hi0IV6Faq6XYpdeEQLptpm1pwm
a4IIJWqChP/ntTFRkCAjbA0E9H/0BtrWmsBgBQaHT7kFjInQH0vFnnK9kk09xzlh
Or1jyVSBRWoYkoc3nzQQ7TJZe16KgEGRM66mn7mhknkuiRZrVk6k0AIFHv83NJPa
y0pMP8hxBQ8fKeDwuNo5MbPzy5NMkx1m6LhSQJTNPhTPo0fBYxSXW2A279lF1Tm6
IiE6IRVSGT91zbVPUqFbFGjkUiAgDCk21mQH/p2sN/cMgMcEL3X3/iXz5GLe7kGn
Mq/uJsiKJiKlcA8vdU57hDXjstvScGu+V1/CCkO2HxQVfAjLKM81H1GyvqeySEGJ
aID8K6BsfHkcz1CPYCQil05+fsPSpwIDAQABAoICAGOEm6NeIJjdlsnlkW3myoHB
Vp4gFxuQPSyYxXRCcCla8ww7tGY2q6STA+DQfDu4ysoCVesnQ4w0w9h7RiHQuFT8
vwVu3SHrBBk114WYcL0LX/qf3Ceu4t0ya4rRGb56++ZS1AqG/V1Zy0zLbSAdtNXx
SkLHMM9BDDlAtyBCnLXeSmwKtUIQmtzGTQui2r7fLHRY0fwxESsabDQiKVxLbm5T
ffzuinPgOZvVJkoqL3Co4ajibUJBy4oO7/BVYL2E8of+KljZgr2eQ8dTfPWoQwdt
iXmGJLNE9DsSwQgcn8+OaGLpHamd+vSR8wwCR/0lD8NE97Ev9BJsOWYeQkQ9600v
z6HlWxOlTmm1OnkkU1fHeb6e5VaPIKYJ9UhQpNTqDJI7mSm/Ewe/AYucBGyOpTFP
AI+2oFz99iekUCJSb9YHyow8OfGb837xwd8bxBRgMv5w1O4OQO+9I0QzFpR/mAAQ
x0MKgwG9AZuf1wfLcOKeFBGer5Mu+frRUZejyOywCdxk79dVGdTKvAKOwwa9EV2+
Fd12T9pcc6r9PXMt1ZjWaBHn/Q1BS+y1wnQnGIYumLxPlzh7JLTDJ0CId0eImWy8
383730kcGGKz+f5Rf7YNkyPKxTwwCbMLO8hRk2ABYIBDQntMZhNEYKuaZNmiSrXc
gPb+Mnqd/MGBHw37T2EBAoIBAQD4i/OEHMq7B7IXjHNp+T3ESbSROfAo5sLcwSL6
SIC2cLfex4hmEydcXlEHjXXjLxRpu8PMuCNnToO0itTQ1ELysye629dPYapZ7/Fq
5jnm1LMUDyYbC3UoWMDMEd+R711evWF1gOEmzA8SN2lGWpRYtzo+zILXyC0LPunA
ROZs6QlTqOD8GF/LseduNEzYh7CXxwiF1FdG+Vle7eHoqqbQ5Yia3JJG2zrBDHIG
YkFz5tW41XP8szKu8Tmv4fGVDEDlG8pa8l45nuYHASNveDCQbkdWYsZ1H9ARXawm
eLbTAj5pTytxhW4s0e6+Q664gdHvSfYoDb5EfwEpzGJtpaGBAoIBAQDi4U+vGtRi
RpzA5VN25UOQQWpzYyp4tdopo30ndU1yrpfrVh6G2z4GRif9KqZ3CdGia2Vn8Dsq
daHhmXrxb6eEsqFERXvAP4Y5TGx+GwbD0t8nx1bkEwoTvoSkfbD9YxQt01Z5GzpK
V52c1udf5Ax1PO1KYYSrHOWvHlfmCEoh59XfJaF1VrEZ9a99VFij5cUh0HKAXoDZ
T2ykx/+kjDcmYpHzbisKBCclZEVe3hIRRsawdcE0jDdhWnonZFLXHsLrEDh8+8fx
q/IaJICq4b0HllLE6CM2rL9EojE6I+mm4yTUts986svLPGt9494sl0rMe7LUcx13
McwMpF1BNDgnAoIBAQCB8uIyK7+PQ/nIOCXLvYWe0A55c7puGCC/vLcl9qxdNtfb
waU+ATuuHp3s/fgp/N6GXaaEra3NAI754TBdsu0B6cuW9gQ/u8eOWFZ31sFlP8YV
ccoxj68ElkrPJ3Ul3umJdCi1f9m4KC6lDpWbNBalv77TQKgUW9O5Mn6SiTOUs86t
j/l5tOC5Jl3jD7Mx7tfUszpwhlHPiOVCLcvUkwy+4ZOnrDVKmKrCblhboBmqmIEb
r3aCI8sXDoZjwBVIIWz4nKwTGu9K3xpThTPavxNdIFtp/iDW8fgebERqpOipsF2j
P8JuCx5MjsJtdgOu8ikqHBh4Xp8hPuoDyZmYzGWBAoIBAEjHXAdgxOZtnlUme1q1
erHouhwfoH0uYLhgsIIa1+hE54jfjFVYORJMKQHGT7X52VyPtOzdnC0npPE4ib6v
QX6IysCaxXLLLeRthpQBWW8x0tHw2Qe6r83bnLMjesYdpVh55dBdkppMdsvcCEaz
YeetzrTAiY1WbLt7MVkiKZ2sv+egK6X3VEJulIfQqcqRp2YMdt6E8jJDjydg3LnN
HNfcYNNE8Nt6r5AIFVS0SfluycfLTlnr7Mv2+R5vyT8mqAI9ptE490+oB7apJPks
BrZLW2u8x6b/TS/YE5CB+q7FSIhPyElbDFq6nAS7Nwb41U65E4mhD7+vorQfeaaz
+JsCggEABksLQJmRK8u477fcAjema4qaCnJkCeUb2SAzBpfI4pMZedZwAkpbq3hw
58M1i7zliwoZhEA/FoTPTI2M/pCmE56iux3v20OS3tqE/OQM2AL7P+39FbVt1XxT
CJdgaA+Oqk8pEglVnn9YyYu1Jzk7iYrJOgLAW9mP3Tuqz4Pw+SrpAkyiKJT2n9Ec
ISnmqQ7rXbWwf2A4Weqj20rP5TTp+OzToPiMaWUNH8/EGOIzpy0/l9FsCuhUimYP
CtnTjhorIIkO+xxgqcVLQQQ/gjHuLFclWWpmL/iSJBqb8/Tt1QnnpWpPudkrVSM3
Dj9vOx+Opb0ptfEUPJM1+uDnRO/faQ==
-----END PRIVATE KEY-----
EOL
node2crt = <<EOL
-----BEGIN CERTIFICATE-----
MIIFMzCCAxsCEEUG5RzIbI8rj6rNlenRoKQwDQYJKoZIhvcNAQELBQAwSTEtMCsG
A1UECxMkOGY1NTNhYTgtNjkyNy00NDFkLWI2OTAtOGM0NTM4NTZkYTg2MRgwFgYD
VQQDEw90dXRvcmlhbGNsdXN0ZXIwIhgPMjAxNTA1MjkxMDE0MDlaGA8yMDM1MDUy
NDEwMTQwOVowYzEtMCsGA1UECxMkOGY1NTNhYTgtNjkyNy00NDFkLWI2OTAtOGM0
NTM4NTZkYTg2MTIwMAYDVQQDEylub2RlLTdiMjg2ZjNhLTY5ODEtNGQ4OC1hOTgy
LWQyZjljMDlkZTM1NTCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAJh7
M+rA1s6+By+hGduLMYasvTUw9ktXbb2Ky7Yy6+3fCxiim8atoYSKLFLcloeqmM1P
cNzgR2DG/kMzRTy9MNufw4m5IEbLsBjgOzYvYxlvuoi+YyKwHet+sukqqsVimg6t
kDgAfAll1/KFEBVpYJAezb5Nr+nlcupelT/HILRpPyi4oOe6OqfO9s574JjTaR4O
1gRjz6AutBj2rCpRMVa49KbHeT4QhiUgsJs+wdUF2m6MshNzL1GNdbaWi6+yY20I
FhwyAa12OaxuGVfG2ms3DZCDtCfOiH3Mee8dvpq4rbxSBUdy0GzP+7ynI8UEkwIr
1hq8134PGDMP7rFw5KFzIv82iqW3U7BhYp8Ze8XikX//8CjoEsiHlmJJdE/kgWLJ
J4BBMOdtzQdXpnuHCOqM63ccBsyi8tGDqTjalgb6ye290Ibc/dh+xZBPJNfYbNPf
TRyd5QajhQpDqbJC22G0GFjvSRCD2NYJvpDa6MC8mhKgmGxk7UhUlXSgD1EHVukl
jIiAMDz6Z4BMrTfxDFlgQA4vNQKhWJux7f4bRyZKtk3eErNfWSOerkbjjeDhEmVf
4X9rA1A3J7apGOy2wegiV33uk/dXR3HQMWKqLPXH0XtQPG53X+Bag1iNv9n/82tW
z5cpl3aBGViI3eyhTDhkiSxzSedNEJeeF+/WfFLXAgMBAAEwDQYJKoZIhvcNAQEL
BQADggIBAKHt1Gt43zoCMPwZMY2IVWOpGj7BhlA3mI95VCF4PRXdhDsaa/qBiuZo
v2/ivsjt7g4dIPafOEWbGVz2Ui3bWMqwtckCKrxi7D2HxYKnr4YTCckPge3pOiSM
HzO8do75sFs1RuF7QSw3l0jXd8uqt55NqxY+BAgOrUyXygdl0njHl81JGLZYvFFm
wjGFi47kHmUGlB6xM2nsGu3sDZTean/9rrzvRHJsaJ/aHKLgOfFwvj1lAs8nhsh5
o0E1t1yJpMJAe6VMIIrslWXPybmkzqiGgmCgUtBjjDFZPOUSZf8BYfyKSeFIc+s0
rapS1IbXRMin3GilxH31xHHWN62PbiOKPgmRlyOixOz/446/7howLR43Vo+bJmyK
ce7qVQPbcmme0jWuBOLTkHI/ZCA8giCVvHF8/64AtxGK0ls1dJgHt7V5I0xXGCkE
iR4jA8y+JJ04M5T8wygWIbnpGGghpf9mTde/zBmRqp0kxuWTZRWzvUKykLCkKANA
sbg78kZGWbP5/PHRZJ4plLhRy3Usx9vm8rMwgskfVmqFw7a1anRvDnXrtjgzsaul
IT5xK43umtZwISyo+MJs/HK5HJVpSbSvJDQCi29tjmHHCQ1G2hhWc6aeoQFchc+D
s6tqcQexQms/H5hQyaVLDUXqHHS6P387eSzzjSgjGFAxc+/TnA3u
-----END CERTIFICATE-----
EOL
node2key = <<EOL
-----BEGIN PRIVATE KEY-----
MIIJRAIBADANBgkqhkiG9w0BAQEFAASCCS4wggkqAgEAAoICAQCYezPqwNbOvgcv
oRnbizGGrL01MPZLV229isu2Muvt3wsYopvGraGEiixS3JaHqpjNT3Dc4Edgxv5D
M0U8vTDbn8OJuSBGy7AY4Ds2L2MZb7qIvmMisB3rfrLpKqrFYpoOrZA4AHwJZdfy
hRAVaWCQHs2+Ta/p5XLqXpU/xyC0aT8ouKDnujqnzvbOe+CY02keDtYEY8+gLrQY
9qwqUTFWuPSmx3k+EIYlILCbPsHVBdpujLITcy9RjXW2louvsmNtCBYcMgGtdjms
bhlXxtprNw2Qg7Qnzoh9zHnvHb6auK28UgVHctBsz/u8pyPFBJMCK9YavNd+Dxgz
D+6xcOShcyL/Noqlt1OwYWKfGXvF4pF///Ao6BLIh5ZiSXRP5IFiySeAQTDnbc0H
V6Z7hwjqjOt3HAbMovLRg6k42pYG+sntvdCG3P3YfsWQTyTX2GzT300cneUGo4UK
Q6myQtthtBhY70kQg9jWCb6Q2ujAvJoSoJhsZO1IVJV0oA9RB1bpJYyIgDA8+meA
TK038QxZYEAOLzUCoVibse3+G0cmSrZN3hKzX1kjnq5G443g4RJlX+F/awNQNye2
qRjstsHoIld97pP3V0dx0DFiqiz1x9F7UDxud1/gWoNYjb/Z//NrVs+XKZd2gRlY
iN3soUw4ZIksc0nnTRCXnhfv1nxS1wIDAQABAoICAQCIkSgBpG9/wXDcNtTa7kMQ
VNwtrMma1xZBwfMMH3VxmeftS45rlo1oEPz7xffIUIIEuJbkLLehNPj7pQrpCKWe
vuu6CSWgYsQ4s3Q05qJCYPBXkvVlVwmlJtgEv6MtoE9MwCTAE6cEH8QWwRiTpMrI
qd4qCJh6y3dt9AKGmclv7CeWSC5M/V2VeGdSrl6NYiPuuOj0C5Uk6U+CYEP4rrma
65KrYVL0xIXw8ONcWAvwyApIIxlHFE4YI7N/Mjyvwv0L5UcwP5WDD7U9+2oVVNPB
XRB4E42ibXeP/DhlcmWJW8i3N1rlEC8elfTolWYTCjLEqhBb6DC1Bb3t1eI56FvL
4DZo0R59n0DTjVINeUak5WFAFoNsFYNSXIdd6C9KnpD/2cyzq6Xgfwnz7WkKs0MH
ntd0SFWIeGerQhmJmDL4ZMRP6CoiK1XHrsap5UgjuvxNHRO4Q7fY2PYWm3zgGMn3
iCQIt/m/8HzA5FSzQSFuQdmQzowPp6cA6+sKnlVMmomzlnDUrP+w35W+6v8snqI0
M9C8lnWhO35B5weMAQZfcDe7KrNQIRs7jvIl5fYfRdhhGoXyadceuurwsaSPoH4r
rTViWucBNmpzfXBys7hKcClVnhJ4L94MiIrIg+hVGz6aq2/WSU+gKKRwgJ4PDslp
Ny3WejqsV5yaWNlMrpKv2QKCAQEAypnpRXpxPG5mGK27GBGftz3lHbwDUgrVx42N
ouytmfCDPMJYxG2BssWfnQNBow351tFzMpt+GiI/dvfvhF2KoFNrXWtx5h1nJeRw
XnNFf70ZBRqBBSMvChxJbizRWZ6f84p2Xgem8gQ8+TKvXgQXQkruP2fYGc+Zaxzr
3vvmrL4GmTyHilSflM2T4ESL+9N0l5muvHeeiP3gcY9YbspVpLpzUe0fXs5DNq8E
3A93CPBFheALfuzfB/WEaJBhAtPw3sKMVn8nJBySe9tbBM7dZnMIqT7bJuTyYy86
Y2nbQrykeFuRmI6z8Dr/q+QZn9+3um4yYtw8KSsazYCmXJbzkwKCAQEAwKuNt0ln
2FzK+YKPqwYdnu7ePwU4WVhTHq+2cPDPPGW+/vY7yb5eOrgwh6LAES7J9Oe6XwC4
RsGzHT2ROORq5Dxi9rtC5pdwAX0nlOLrrzY1UpgnAIJ1yrBP9FsF4S58KVe527Tk
tlPtQaGUmy4VjTQTre7mfUBjfJJYzJcab8iRQFb8Xlv9AGNqyo/dYKcN3i/I/iaB
iK8b/6vIS9nNUWyyyqSuv6b7mCTHkebzTDaF18kXSZNuthc20N9Hgg/5peQ1mY7o
3tDCB7hN47+Y+4BLC3nzwq+xGbiXOb/smzj+J1WD3N7MEFYF1deypi6Dp1/6z0cF
EzSmsxVZtbO2LQKCAQEAm2LgHoGCR68EbvkP/a3GqWu3Rc7lXQ8iVyKh9ss/ekmU
3gzQuBak2s/nUy0kMkKN08xgZfgMB08tDbmq4gI8SCqytbuqZ6s1aUKDTG1saERH
5DonqiEJ+t8nEnEdP3cBhnAzyHpl+Eh320icZ6cLj7SYddjXTTSDnjtYTHU2vlYg
CXb7HYU5v47MU70+/612Rq9/7Nxxou/ULESctpxIg0bdG4CaBsR7mH0zZPQXf6uI
Jt1m87oIdLpBC1FwlhKnMrJToCN1iaTAVG4wqMdf1ytzARtMSdBeduPKDGUr3UuB
eS4BxNft+dnGLbeMT6nt5/aMfnYbThfZPrPk5C6CMQKCAQEAtTOjALIk3DPJIYhN
HgeObB8zHgoGyOBsq/uNlgKkpKT8UEW8TSyg6pC385h5Eq/yeEZH3XmL1d/uWJ3C
qsMIVMcGPA46CSx7xqqyQzB3gD13QMqgQ7ZumcXgLGw+x100oJ1EywEB6QhdptAU
Ny3MTxSfPYHle/7Gki4BHckur9rt4JjumL/i3i6iDQfoqDH0tPY0DfKg+K/XoUkq
A0w/8UhNjo/7WXvuO1S77NhMEW1ly1/wat4hzVdf0mlrk0L7A63xSw5ArO2gzinj
90IG2uH5sj1rp7oc0Zftgf6ixAmB3fRrI5rWSLbenhNSjUBJyWxXMgIVH87wyJRX
3q+5sQKCAQAczcaDdQz9xIC67ijpPijHeiy1BRWGlSOQ3+BIUVbzv24OnQI+k1ZD
iMU1aRbwWjRQPmvjEtL0sZ52e7HZ/c28BmAE+5ebMG8VFy7EYKcCpc4GB5k85iJR
cbULpGMpzov11bUx2j3oCjJ3ymsP/sCBh62T8lbtWOyR2LKBgF7eMAcsYNv3J0zX
U17MmYFANUWSKvS6yfQTH1/AWqTbCheXFHkaHW8AJnIdlCjdXEAkOjp2xmGDM0lJ
744qX5ChvxZaH4rH77xM/brb1eXy/KiGfwnTbzgpjO2VeH53oCXyFSqQ8HirYy27
gtjzKjdTa/llYX4jrpbed1tdfIioT8jn
-----END PRIVATE KEY-----
EOL
$bootstrapnode1 = <<EOL
echo -n "#{clustercrt}" >> /etc/flocker/cluster.crt
echo -n "#{controlcrt}" >> /etc/flocker/control-service.crt
echo -n "#{controlkey}" >> /etc/flocker/control-service.key
echo -n "#{node1crt}" >> /etc/flocker/node.crt
echo -n "#{node1key}" >> /etc/flocker/node.key
echo -n "control-service: {hostname: 172.16.255.250}
dataset: {backend: zfs}
version: 1" >> /etc/flocker/agent.yml
systemctl enable flocker-control
systemctl start flocker-control
systemctl enable flocker-dataset-agent
systemctl start flocker-dataset-agent
systemctl enable flocker-container-agent
systemctl start flocker-container-agent
EOL

$bootstrapnode2 = <<EOL
echo -n "#{clustercrt}" >> /etc/flocker/cluster.crt
echo -n "#{node2crt}" >> /etc/flocker/node.crt
echo -n "#{node2key}" >> /etc/flocker/node.key
echo -n "control-service: {hostname: 172.16.255.250}
dataset: {backend: zfs}
version: 1" >> /etc/flocker/agent.yml
systemctl enable flocker-dataset-agent
systemctl start flocker-dataset-agent
systemctl enable flocker-container-agent
systemctl start flocker-container-agent
EOL

Vagrant.configure(VAGRANTFILE_API_VERSION) do |config|
  config.vm.box = "clusterhq/flocker-tutorial"
  config.vm.box_version = "= |latest-installable|"

  if Vagrant.has_plugin?("vagrant-cachier")
    config.cache.scope = :box
  end

  config.vm.define "node1" do |node1|
    node1.vm.network :private_network, :ip => "172.16.255.250"
    node1.vm.hostname = "node1"
    node1.vm.provision "shell", inline: $bootstrapnode1, privileged: true
  end

  config.vm.define "node2" do |node2|
    node2.vm.network :private_network, :ip => "172.16.255.251"
    node2.vm.hostname = "node2"
    node2.vm.provision "shell", inline: $bootstrapnode2, privileged: true
  end

end
