[Unit]
Description=Flocker Control Service
After=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill flocker-control-service
ExecStartPre=-/usr/bin/docker rm flocker-control-service
ExecStartPre=/usr/bin/docker pull clusterhq/flocker-control-service:1.11.0
ExecStart=/usr/bin/docker run --net=host -v /home/core/etc_flocker:/etc/flocker \
    --name=flocker-control-service \
    clusterhq/flocker-control-service:1.11.0
ExecStop=/usr/bin/docker stop flocker-control-service
