[Unit]
Description=Flocker Container Agent
After=docker.service
Wants=docker.service

[Service]
ExecStart=/usr/bin/sh -c '\
    echo "Sleeping 120s to ensure previous dataset state is expired."; \
    sleep 120; \
    exec /usr/sbin/flocker-container-agent --journald \
'
Restart=always

[Install]
WantedBy=multi-user.target
