[Unit]
Description=Flocker Dataset Agent
AssertFileNotEmpty=/etc/flocker/agent.yml

[Service]
ExecStart=/usr/sbin/flocker-dataset-agent

# We can't have a private mount namespace, since we need to create mounts visible to docker.

[Install]
WantedBy=multi-user.target
