[Unit]
Description=Flocker ZFS Agent
AssertFileNotEmpty=/etc/flocker/agent.yml

[Service]
ExecStart=/usr/sbin/flocker-zfs-agent

# We can't have a private mount namespace, since we need to see ZFS created mounts.

[Install]
WantedBy=multi-user.target
