[Unit]
Description=Flocker Container Agent
ConditionFileNotEmpty=/etc/flocker/agent.yml

[Service]
ExecStart=/usr/sbin/flocker-container-agent

[Install]
WantedBy=multi-user.target
