.highlight code,.highlight pre {
color:#fdce93;
}

.highlight .hll {
background-color:#222;
}

.highlight .err {
color:#e37170;
background-color:#3d3535;
}

.highlight .k {
color:#f0dfaf;
}

.highlight .p {
color:#41706f;
}

.highlight .cs {
color:#cd0000;
font-weight:700;
}

.highlight .gd {
color:#cd0000;
}

.highlight .ge {
color:#ccc;
font-style:italic;
}

.highlight .gr {
color:red;
}

.highlight .go {
color:gray;
}

.highlight .gs {
color:#ccc;
font-weight:700;
}

.highlight .gu {
color:purple;
font-weight:700;
}

.highlight .gt {
color:#0040D0;
}

.highlight .kc {
color:#dca3a3;
}

.highlight .kd {
color:#ffff86;
}

.highlight .kn {
color:#dfaf8f;
font-weight:700;
}

.highlight .kp {
color:#cdcf99;
}

.highlight .kr {
color:#cdcd00;
}

.highlight .ni {
color:#c28182;
}

.highlight .ne {
color:#c3bf9f;
font-weight:700;
}

.highlight .nn {
color:#8fbede;
}

.highlight .vi {
color:#ffffc7;
}

.highlight .c,.highlight .g,.highlight .cm,.highlight .cp,.highlight .c1 {
color:#7f9f7f;
}

.highlight .l,.highlight .x,.highlight .no,.highlight .nd,.highlight .nl,.highlight .nx,.highlight .py,.highlight .w {
color:#ccc;
}

.highlight .n,.highlight .nv,.highlight .vg {
color:#dcdccc;
}

.highlight .o,.highlight .ow {
color:#f0efd0;
}

.highlight .gh,.highlight .gp {
color:#dcdccc;
font-weight:700;
}

.highlight .gi,.highlight .kt {
color:#00cd00;
}

.highlight .ld,.highlight .s,.highlight .sb,.highlight .sc,.highlight .sd,.highlight .s2,.highlight .se,.highlight .sh,.highlight .si,.highlight .sx,.highlight .sr,.highlight .s1,.highlight .ss {
color:#cc9393;
}

.highlight .m,.highlight .mf,.highlight .mh,.highlight .mi,.highlight .mo,.highlight .il {
color:#8cd0d3;
}

.highlight .na,.highlight .nt {
color:#9ac39f;
}

.highlight .nb,.highlight .nc,.highlight .nf,.highlight .bp,.highlight .vc {
color:#efef8f;
}